.App {
  text-align: center;
}

.App-body {
  height: 100vh;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.App-Bar {
  height: 10vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
