.App {
  text-align: center;
  box-shadow: 0 0 5px 2px #eeee;
  border-color: transparent;
  
}

.App-body {
  height: 100vh;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  box-shadow: 0 0 5px 2px rgba(146, 135, 135, 0.933);
  border-color: transparent;
 
}

.App-Bar {
  height: 10vh;
  box-shadow: 0 0 5px 2px #eeee;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  box-shadow: 0 0 5px 2px #eeee;
  border-color: transparent
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px #eeee;;
  background-color: white;
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.card.flipped {
  height: 150px;
  width: 370px;
  background-color: lemonchiffon;
  transform: rotateY(2turn);
  box-shadow: 0 0 5px 2px #eeee;;
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px #eeee;;
}
/*
.time {
  font-size: 15px;
} */

.time {
  font-size: 18px;
  padding: 2rem;
  color: #218380;
}